<!DOCTYPE html>
<html>

<head>
    <title>Data Science</title>
</head>

<body>

<h1>📊 Data Science</h1>

<h2>Welcome {{ username }}</h2>

<hr>

<h3>Course Modules</h3>

<ol>

<li>Introduction to Data Science</li>

<li>Python for Data Science</li>

<li>NumPy</li>

<li>Pandas</li>

<li>Data Visualization</li>

<li>Matplotlib</li>

<li>Seaborn</li>

<li>Data Cleaning</li>

<li>Exploratory Data Analysis (EDA)</li>

<li>Mini Data Science Project</li>

</ol>

<br>

<a href="{{ url_for('learning') }}">
⬅ Back to Learning Hub
</a>

</body>

</html>