<!DOCTYPE html>
<html>
<head>
    <title>Python Course</title>
</head>
<body>

<h1>🐍 Python Learning</h1>

<h2>Welcome {{ username }}</h2>

<hr>

<h3>📚 Modules</h3>

<ol>
    <li>Introduction to Python</li>
    <li>Variables & Data Types</li>
    <li>Operators</li>
    <li>Conditional Statements</li>
    <li>Loops</li>
    <li>Functions</li>
    <li>Lists & Tuples</li>
    <li>Dictionaries & Sets</li>
    <li>File Handling</li>
    <li>OOP in Python</li>
</ol>

<a href="{{ url_for('learning') }}">
    ⬅ Back to Learning Hub
</a>

</body>
</html>